.tablero {
    display: grid;
    gap: 1px;                               /* Espaciado entre las celdas */
    margin: 20px auto;
    width: 450px;  /* Ajusta el tamaño según necesites */
    height: 450px; /* Ajusta el tamaño según necesites */
    border: 3px solid black;
}

.fila {
    display: contents; /* Hace que los elementos de .fila no afecten el grid */
}

.celda {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    font-size: 20px;
    text-align: center;
    height: auto;
    width: auto;
}

.celda input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.celda.vacía {
    background-color: #f2f2f2;
}

/* Media query para ajustar el tamaño de los input según el tamaño de la pantalla */
@media (max-width: 600px) {
    .celda input {
        width: 30px;
        height: 30px;
    }
}   